a#toolbar-link-mespronos-dashboard {
  &:before {
    background-image: inline-image('icons/football2.svg');
    background-size: contain;
    background-repeat: no-repeat;

  }
}

form#games-marks {
  fieldset.game {
    .form-type-textfield {
      float: left;
      &:first-of-type {
        margin-right: 5px;
      }
      &:last-of-type {
        margin-left: 5px;
      }
    }
  }
}
