a#toolbar-link-mespronos-dashboard {
  &:before {
    background-image: inline-image('icons/football2.svg');
    background-size: contain;
    background-repeat: no-repeat;

  }
}

form#games-marks {
  fieldset.game {
    .form-type-textfield {
      float: left;
      &:first-of-type {
        margin-right: 5px;
      }
      &:last-of-type {
        margin-left: 5px;
      }
    }
  }
}

#mespronos-dashboard {
  & > fieldset {
    fieldset {
      legend {
      }
      .fieldset-wrapper {
        display: flex;
        & > div {
          margin-right : 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 639px) {
  #mespronos-dashboard {
    & > fieldset {
      fieldset {
        legend {
        }
        .fieldset-wrapper {
          margin-top : 25px;
          & > div {
            input {
              width : 60px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 640px) {
  #mespronos-dashboard {
    display: flex;
    & > fieldset {
      box-sizing: border-box;
      width : 48%;
      margin : 0 2%;
      &:first-of-type {
        margin-left : 0;
      }
      &:last-of-type {
        margin-right : 0;
      }
    }
  }
}
