form#games-betting {
  fieldset.game-wrapper {
    clear: both;
    .fieldset-wrapper {
      display: flex;
      justify-content: center;
      .score_team_wrapper {
        width: 100%;
        margin: 0 5px;
        div.form-item {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          label {
            min-width: 100px;
            margin: 0 5px;
            position: relative;
            top: 6px;

            text-align: center;
            div.field--name-field-team-logo {
              text-align: center;
              img {
                margin-bottom: 0;
              }
            }
          }
        }
        &.score_team_2_wrapper {
          div.form-item {
            flex-direction: row-reverse;
            justify-content: flex-end;
          }
        }
      }
      .game_wrapper_winner {
        width: 100%;
        & > div.form-radios {
          display: flex;
          width: 100%;
          justify-content: space-around;
          div.form-type-radio {
            width: 30%;
            margin: 0 10px;
            label {
              display: block;
              text-align: center;
              margin: 0 auto;
              div.field--name-field-team-logo {
                text-align: center;
                img {
                  margin-bottom: 0;
                  opacity: 0.7;
                }
              }
            }
            input {
              display: block;
              text-align: center;
              margin: 0 auto;
              &:checked + label {
                font-weight: bold;
                div.field--name-field-team-logo {
                  img {
                    opacity: 1;
                  }
                }
              }

            }
          }
        }
      }
    }
    div#edit-actions {
      text-align: center;
    }
  }
}