form#games-betting {
  fieldset {
    legend {
      text-align: center
    }
    clear: both;
    div.form-item {
      label {
        display: block;
        float: none;
      }
      float: left;
      width: 50%;
      text-align: center;
    }
  }
}