ul.group-listing {
  list-style: none;
  padding: 0;
  li {
    text-align: center;
    border-bottom: solid 1px gray;
    margin-bottom: 1em;
    &:last-of-type {
      border-bottom: none;
    }
    img {
      border-radius: 5px;
      max-width: 100%;
      height : auto;
    }

  }
}

@media screen and (min-width: 640px) {
  ul.group-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      border-bottom: none;
      width : 30%;
      text-align: center;
      img {
        border-radius: 5px;
      }
    }
  }

}

.field--name-field-group-logo {
  img {
    border-radius: 5px;
  }
}

ul.group-listing {
  .field--name-field-group-logo {
    text-align: center;
  }
}
#block-grouprankingblock {
  .field--name-field-group-logo {
    margin-top : 1em;
    text-align: center;
  }
  h3 {
    margin-top : 0;
    text-align: center;
  }
}

form#group-joining {
  .field--name-name {
    display: none;
  }
}

#block-mespronos-front-content {
  ul#group-members-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    li {
      text-align: center;
      .field--name-user-picture {
        height : 100px;
      }
      h3 {
        text-align: center;
        margin-top : 0;
      }
    }
  }
}