ul.group-listing {
  list-style: none;
  padding: 0;
  li {
    text-align: center;
    border-bottom: solid 1px gray;
    margin-bottom: 1em;
    &:last-of-type {
      border-bottom: none;
    }
    img {
      border-radius: 5px;
      max-width: 100%;
      height : auto;
    }
    p {
      margin-top : 0.5rem;
      margin-bottom: 0;
    }

  }
}

@media screen and (min-width: 640px) {
  ul.group-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    li {
      margin-top: 20px;
      border-bottom: none;
      width : 33%;
      text-align: center;
      section {
        min-height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        img {
          border-radius: 5px;
        }
      }
    }
  }

}

.field--name-field-group-logo {
  img {
    border-radius: 5px;
  }
}

ul.group-listing {
  .field--name-field-group-logo {
    text-align: center;
  }
}
#block-grouprankingblock {
  .field--name-field-group-logo {
    margin-top : 1em;
    text-align: center;
  }
  h3 {
    margin-top : 0;
    text-align: center;
  }
}

form#group-joining {
  .field--name-name {
    display: none;
  }
}

ul#group-members-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  li {
    margin: 5px;
    padding: 0;
    list-style: none;
    text-align: center;
    .field--name-user-picture {
      height : 100px;
    }
    h3 {
      text-align: center;
      margin-top : 0;
    }
  }
}