form#games-betting {
  fieldset.game-wrapper {
    clear: both;
    .fieldset-wrapper {
      display: flex;
      justify-content: center;
      .score_team_wrapper {
        width: 100%;
        margin: 0 5px;
        div.form-item {
          margin : 0;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          label {
            min-width: 80px;
            margin: 0 5px;
            text-align: center;
            div.field--name-field-team-logo {
              text-align: center;
              img {
                margin-bottom: 0;
              }
            }
          }
          input {
            width: 50px;
            margin-top: 20px;
            height : 40px;
            font-size:0.9em;
          }
        }
        &.score_team_2_wrapper {
          div.form-item {
            flex-direction: row-reverse;
            justify-content: flex-end;
          }
        }
      }
      .game_wrapper_winner {
        width: 100%;
        & > div.form-radios {
          display: flex;
          width: 100%;
          justify-content: space-around;
          div.form-type-radio {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 30%;
            margin: 0 10px;
            label {
              vertical-align: bottom;
              display: block;
              text-align: center;
              margin: 0 auto;
              border : dotted 2px grey;
              padding: 2px;
              width: 100%;
              //height: 100%;
              border-radius: 5px;
              opacity: 0.8;
              div.field--name-field-team-logo {
                text-align: center;
                img {
                  margin-bottom: 0;
                  opacity: 0.7;
                }
              }
            }
            input {
              display: none;
              text-align: center;
              margin: 0 auto;
              &:checked + label {
                border : solid 2px black;
                opacity: 1;
                div.field--name-field-team-logo {
                  img {
                    opacity: 1;
                  }
                }
              }

            }
          }
        }
      }
    }
  }
  div.form-actions {
    text-align: center;
    input {
      margin : auto;
    }
  }
}