table {
  tr {

    td.points {
      font-weight: bold;
      font-size: 1.4em;

    }
  }
  tr.participation {
    td.points {
      color : red;
    }
  }
  tr.winner_found {
    td.points {
      color : orange;
    }
  }
  tr.score_found {
    td.points {
      color : green;
    }
  }
}