article.team {
  ol.team-last-results {
    margin : 0;
    padding: 0;
    display: flex;
    justify-content: center;
    li {
      text-align: center;

      list-style: none;
      margin : 0 1px;
      padding: 0;
      span.result {
        display: block;
        font-size: 10px;
        width : 16px;
        border-radius: 8px;
        height : 16px;
        padding-top: 1px;
        text-align: center;
        font-weight: bold;
        color : white;
        &.result-V {
          background-color: green;
        }
        &.result-D {
          background-color: red;
        }
        &.result-N {
          background-color: orange;
        }
      }
    }
  }
}