@import "front/components/form_bet";
@import "front/components/ranking";
@import "front/components/game";
@import "front/components/league";
@import "front/components/results";
@import "front/components/team";
@import "front/components/blocks/latest_results";
@import "front/components/blocks/user-block";


table {
  tr.highlighted {
    font-weight:bold;
  }
  tr.clickabeul {
    cursor: pointer;
  }
  td.picto {
    padding : 0;
    a.picto {
      font-size: 2em;
      padding : 5px;
    }
  }
}

table {
  td.day-cell,
  td.better-cell {
    font-size: 1em;
    aside {
      float: left;
      min-width: 40px;
      margin-right: 2px;
    }
  }
}