<ul>
    {% for group in groups %}
        <li>
            <section>
                {{ group.entity }}
                <p> {{ group.member }}</p>
                <p><a href="{{ group.join_url }}">{% trans %}Join{% endtrans %}</a></p>
            </section>
        </li>
    {% endfor %}
</ul>