<p>Les groupes vous permettent de faire un classement juste au sein d'une communauté (amis, entreprise...)</p>
<p>Les groupes sont privés et nécessite un code d'accès pour être rejoint.</p>
<p>Vous ne pouvez être membre d'un groupe et d'un seul.</p>