<section>
{% if user_groups %}
    <div class="columns large-12">
        <h2>{% trans %}My groups{% endtrans %}</h2>
    </div>
    {% for group in user_groups %}
        {{ group }}
    {% endfor %}
{% endif %}

{% if groups %}
    <div class="columns large-12">
        <h2>{% trans %}All the groups{% endtrans %}</h2>
    </div>
    {% for group in groups %}
        {{ group }}
    {% endfor %}
{% endif %}
</section>