<p>{% trans %}Les groupes vous permettent de faire un classement juste au sein d'une communauté (amis, entreprise...){% endtrans %}</p>
<p>{% trans %}Les groupes sont privés et nécessitent un code d'accès pour être rejoint, veuillez le noter, vous devrez le faire passer aux membres que vous souhaitez inviter dans votre groupe.{% endtrans %}</p>
<p>{% trans %}Vous ne pouvez être membre d'un groupe et d'un seul, si vous êtes déjà membre d'un groupe, alors la création d'un nouveau entrainera de facto la sortie de l'ancien.{% endtrans %}</p>