<p>{% trans %}Les groupes vous permettent de faire un classement juste au sein d'une communauté (amis, entreprise...){% endtrans %}</p>
<p>{% trans %}Les groupes sont privés et nécessitent un code d'accès pour être rejoint.{% endtrans %}</p>
<p>{% trans %}Certains groupes sont invisible, vous avez besoin de leur adresse pour rejoindre le groupe, demandez là à son créateur.{% endtrans %}</p>
<p>{% trans %}Vous voulez créer votre groupe ?{% endtrans %}&nbsp;<a href="{{path('entity.group.add_form')}}">{% trans %}C'est par là !{% endtrans %}</a></p>