<h2>{% trans 'Games and bets' %}</h2>
{{ last_bets }}

{% if groups|length > 0 %}

    {% for group in groups %}
        <h2>{% trans %}{{ group.label }} group ranking{% endtrans %}</h2>
        <section>
            {{ group.group_ranking }}
        </section>
    {% endfor %}

{% endif %}

<h2>{% trans 'General ranking' %}</h2>
<section>
    {{ ranking }}
</section>