{#
/**
 * @file game.html.twig
 * Default theme implementation to present Game data.
 *
 * This template is used when viewing a game entity's page,
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_game()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('game') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
