<section id="login">
    <h2>{% trans %}I already have an account{% endtrans %}</h2>
    <h2>{% trans %}Login{% endtrans %}</h2>
    {{ login_form }}
</section>
<section id="registration">
    <h2>{% trans %}I don't have an account yet{% endtrans %}</h2>
    <h2>{% trans %}Registration{% endtrans %}</h2>
    {{ registration_form }}
</section>