{% if next_bets %}
    <h2>{% trans 'Next bets' %}</h2>
    {{ next_bets }}
{% endif %}

{%  if last_bets %}
    <h2>{% trans 'Last bets' %}</h2>
    {{ last_bets }}
{%  endif %}

{%  if ranking %}
    <h2>{% trans 'Ranking' %}</h2>
    {{ ranking }}
{%  endif %}