{#
/**
 * @file ranking_day.html.twig
 * Default theme implementation to present RankingDay data.
 *
 * This template is used when viewing a ranking_day entity's page,
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ranking_day()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('ranking_day') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
