<aside>
    <a href="{{ url('entity.user.canonical', {'user': user.id}) }}">
        {{ user.avatar }}
    </a>
</aside>
<div>
    <a href="{{ url('entity.user.canonical', {'user': user.id}) }}">
        {{ user.name }}
    </a>
</div>
