{#
/**
 * @file user_involve.html.twig
 * Default theme implementation to present UserInvolve data.
 *
 * This template is used when viewing a user_involve entity's page,
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_user_involve()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('user_involve') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
