<p class="center">{{ user_picture }}</p>
<p>{% trans %}General ranking : {{ user.rank}}{% endtrans %}</p>
<p>{% trans %}Points : {{user.points}}{% endtrans %}</p>
<h2>{% trans %}Last bets{% endtrans %}</h2>
{{ last_bets }}